OPENAI_API_KEY=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
ASSISTANT_ID=asst_czBZqZUmfktWWPL0DdACVem9
